<!-- <p>form works!</p>
<form class="example" action="action_page.php">
    <input type="text" placeholder="Search.." name="name"  >
    <button type="submit" ><i class="fa fa-search"></i></button>
</form> -->
<div class="container">
<form (ngSubmit)="searchFor(searchForm)" #searchForm="ngForm">
  
      <div class="row">
        <div class="col-md-10">
      <input type="text" class="form-control" name="find" placeholder="Enter username"[(ngModel)]= "searchInfo.find"  #find='ngModel'>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-group"><i class="fa fa-search"></i> Search</button>
    </div>
    </div>
  </form>
</div>