

<div class="container">

  <div class="row ">
    <div class="col-md-12">
      <app-form (getName)='findUser($event)'></app-form>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 image-end">
          <img src="{{anika.avatar_url}}" class="rounded-circle">
        </div>
    <div class="col-md-6">
      <blockquote>
        <h1> {{anika.name}}</h1>
      </blockquote>
      <blockquote>
         Github Username:<a href="{{anika.html_url}}" target="_blank">{{anika.login}}</a>
        </blockquote>
        <blockquote>
            Repositories:{{anika.public_repos }}
          </blockquote>
         
      
          <blockquote>
         Followers:{{anika.followers}}
        </blockquote>
            <blockquote>
            Following:{{anika.following}}
          </blockquote>
            <blockquote>
            Date created: {{anika.created_at | date |uppercase}}
          </blockquote>
          <blockquote>
              <a href="{{anika.html_url}}"><button class ="btn btn-success">view profile on Github</button></a>
          </blockquote>
          <blockquote>
          
            <p>This goal will be complete in {{anika.created_at|dateCounter}} days</p>
          </blockquote>
          </div>
    </div>
   
    
  </div>


<div class="container">
  <div class="row">
    <div  class="col-md-12">
      <h2 style="color: #056b5b" > User Repositories</h2>
      <div class="table table-striped">
        <table class="table">
          <tbody>
          <tr *ngFor='let repository of userRepos.newRepository'>
            <td>
                <a href="{{repository.html_url}}" target="_blank" >{{repository.name}}</a>

                <br>
              <p class="desc">Description: {{repository.description}}</p>
              <br>
              <p>Date Created: {{repository.created_at | date}}</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


 